name: Docker

on:
  pull_request:
    branches: [develop]

jobs:
  build:
    name: Build and Run
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Run the Docker image
        run: |
          docker compose build
          docker compose run machine build
          docker compose up -d
